---
layout: default
title: CONTACT
---
%h2.contact-header
    Say hi at <a href="mailto:{{ site.author_email }}">{{ site.author_email }}</a>. 

%h4.contact-header
    You can also find me on <a href="{{ site.github_url}}">GitHub</a>.
%h6.contact-header
    I'm even on <a href="{{ site.linkedin_url }}">LinkedIn</a> if that's really your thing.

%p
    Send me some feedback on my projects or my website, hire me, or just say hello. I love making Internet Friends!

%p
    If you need to send me state secrets or naked pictures, here's my PGP fingerprint and public key:

%p{:style => "text-align:center;"}
    <a href="{{ site.asset_url }}/asset/LeoPMartel.asc">DEDA BE56 2059 D309 B07F&nbsp;&nbsp;E07B EEFC A254 5CB4 DF55<a/>
